name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: cd ./IMAGES/ptero-iw4madmin && docker build . --file Dockerfile --tag ptero-iw4madmin:latest
